**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.swp
**/*.tmp
**/*.log

.git/
.gitignore
Dockerfile*
README*
readme.md
api_contract_cloudinary_architecture_v1.md
flood_rescue_relief_postgresql_schema_v1.sql

node_modules/
coverage/
